@import "../index.scss";

h1{
    font-family: $font-Secular;
    font-size: 45px;
    color:#003f80;

    margin-top: 5%;
}

svg{
    z-index: 1;
    /* left: -4%; */
    position: absolute;
    margin-top: 7px;
}

.svg-search{
    left: 2%;
}

.tabla-clientes{
    position: absolute;
    left: 0%;
    /* bottom: -6%; */
    top: 3rem;
    border-collapse:separate;
    border:solid rgb(29, 52, 179) 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}
.search-users{
    position: absolute;
    /* left: 2%; */
    left: 0%;
    border: 3px solid #1C6EA4;
border-radius: 5px;
}

.table .thead-light th{
    color: #Fff;
    background-color: #003f80;
    border-color: #dee2e6;
    
}



.table-striped tbody tr:nth-of-type(odd){
    background-color: #99b2cc;
}

.btn-agregar{
    position: absolute;
    /* left: 0rem; */
    top: 17rem;
    right: 0;
}