@import '../../index.scss';

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid $darkBlue;
    max-height: 80px;
}
.foca-logo-header{
    width: 100%;
    max-width: 200px;
    height: 100%;
    margin:10px 0 10px 200px;
}
.user-img-header{
    width: 100%;
    max-width: 60px;
    height: auto;
    margin: 10px 200px 10px 50px;
    border:2.5px solid $darkBlue;
    border-radius: 100%;
}
.icon-menu-header{
    font-size: 2rem;
    text-align: center;
    color: $darkBlue;
    border-radius: 10%;
    border:2px solid $darkBlue;
    display: inline-block;
    margin: 25px 0;
}
.hoverPointer:hover{
    cursor: pointer;
}