$darkBlue: #1b4881;
$tenueBlue: #647b95;
$whiteBlue: #ccdce4;
$grayCian: #a4b4c5;
$whiteGray: #e5e9ed;
$darkGray: #545a63;
$grayNeutral: #687178;
$grayMedium: #898e95;
$font-Secular: 'Secular One', sans-serif;